---
import '../styles/global.css';
interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Thinking about this yet" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen flex flex-col justify-center bg-gray-50">
		<header class="w-full bg-white shadow-lg mb-5 flex h-20 items-center px-52 sticky top-0 z-10">
			<div id="logo" class="mx-5 w-24 hover:shadow-md text-center h-10 flex justify-center items-center hover:rounded hover:text-blue-300">Logo</div>
			<nav class="w-full">
				<ul class="w-full flex justify-end">
					<li class="mx-2 w-24 hover:shadow-md text-center h-10 flex justify-center items-center hover:rounded hover:text-blue-300"><a href="#about">About</a></li>
					<li class="mx-2 w-24 hover:shadow-md text-center h-10 flex justify-center items-center hover:rounded hover:text-blue-300"><a href="#skills">Skills</a></li>
					<li class="mx-2 w-24 hover:shadow-md text-center h-10 flex justify-center items-center hover:rounded hover:text-blue-300"><a href="#projects">Projects</a></li>
					<li class="mx-2 w-24 hover:shadow-md text-center h-10 flex justify-center items-center hover:rounded hover:text-blue-300"><a href="#experience">Experience</a></li>
				</ul>
			</nav>
		</header>
		<slot />
		<footer class="flex text-center">
			<p>&copy; {title} {new Date().getFullYear()}</p>
		</footer>
	</body>
</html>
