.introWrapper {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    padding-top: 70px;
    text-align: center;
    .textPart {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 10px;
        padding: 0 20px;
        text-align: justify;
    }

    .imagePart {
        border-radius: 50%;
        display: none
    }

    .skillsWrapper {
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
        justify-content:center;
    }

    .skill {
        border-radius: 5px;
        box-shadow: 0px 0px 3px 2px #5fa5f9;
        margin: 5px;
        padding: 5px;
        text-align: center;
        width: 150px;
    }
}

@media (min-width: 600px) {
    .introWrapper{
        flex-direction: row;
        min-height: 100vh;
        padding: 0;
        .textPart {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
        }

        .imagePart {
            align-items: center;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            width: 50%;
        }
    }
}